[submodule "deps/frontend"]
	path = deps/frontend
	url = https://gitlab.enigmagroup.tech/enigma/computer-vision/frontend/interactive-challenge-platform
[submodule "deps/backend-example"]
	path = deps/backend-example
	url = https://gitlab.enigmagroup.tech/enigma/computer-vision/backend/analytics-service
[submodule "deps/metrics_gateway_client"]
	path = deps/metrics_gateway_client
	url = https://gitlab.enigmagroup.tech/enigma/computer-vision/backend/metrics-gateway-client
[submodule "deps/django-celery-beat"]
	path = deps/django-celery-beat
	url = https://github.com/celery/django-celery-beat
[submodule "deps/juggling-counting"]
	path = deps/juggling-counting
	url = https://gitlab.enigmagroup.tech/enigma/computer-vision/core/juggling-counting
[submodule "deps/drift-ml"]
	path = deps/drift-ml
	url = https://gitlab.enigmagroup.tech/enigma/computer-vision/auto-moto-core/ryad/minicars_service.git
[submodule "deps/frontend-drift"]
	path = deps/frontend-drift
	url = https://gitlab.enigmagroup.tech/enigma/computer-vision/frontend/toy-car-racing/
