gunicorn
django
ipython
ipdb
uvicorn
fastapi
python-socketio
rpdb
django-rest-framework
drf-yasg
django-cors-headers
celery
redis
paho-mqtt
aiohttp
pydantic
mypy
django-stubs
celery-types
djangorestframework-stubs
drf-yasg-stubs
#django-celery-beat
./deps/django-celery-beat-fork
python-redis-lock
setuptools
